<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise_name.name %>
</p>

<%= link_to 'Edit', edit_exercise_name_path(@exercise_name) %> |
<%= link_to 'Back', exercise_names_path %>
